@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&family=Poppins:wght@200&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

ul li a{
    text-decoration: none;
    list-style-type: none;
    color: #fff;
}

.navbar {
    text-decoration: none;
    font-weight: 900;
}

.navbar ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    margin-top: 2.5em;
    gap: 5em;
    font-size: 0.7rem;
    width: 100%;
    align-items: center;
}

.navbar a:hover {
    padding: 0.6em;
    border-radius: 10px;
    box-shadow: 
    0 0 20px 10px rgb(253, 242, 144),
    0 0 25px 20px rgb(252, 180, 46),
    0 0 46px 30px rgb(255, 136, 0);
}

.title {
    font-size: large;
}

.header {
    color: #fff;
    margin-left: 1em;
}

.text {
    color: #fff;
}

.social {
    position: fixed;
    left: 0;
    bottom: 15px;
    width: 100%;
    color: white;
    text-align: center;
}

.icons {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.fa {
    text-decoration: none;
    color: white;
}

.projects {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 4em;
    font-size: 2.5rem;
}

#tic-tac-toe {
    text-decoration: none;
    color: #fff;
    font-weight: 900;
    background-color: #491201;
    padding: 1em;
    border-radius: 40px;
    border-top: white solid 5px;
    border-left: white solid 5px;
}

#quiz-game {
    text-decoration: none;
    color: #fff;
    font-weight: 900;
    background-color: #491201;
    padding: 1em;
    border-radius: 40px;
    border-top: white solid 5px;
    border-left: white solid 5px;
}

#to-do-list {
    text-decoration: none;
    color: #fff;
    font-weight: 900;
    background-color: #491201;
    padding: 1em;
    border-radius: 40px;
    border-top: white solid 5px;
    border-left: white solid 5px;
}

#magic-8-ball {
    text-decoration: none;
    color: #fff;
    font-weight: 900;
    background-color: #491201;
    padding: 1em;
    border-radius: 40px;
    border-top: white solid 5px;
    border-left: white solid 5px;
}

#video1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    opacity: 0.9;
    z-index: -1;
}

@media (min-width: 600px) {
    .navbar ul {
        gap: 10em;
        font-size: 0.9rem;
    }
}
@media (max-width:936px) {
    .projects {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        margin-top: 0.5em;
        gap: 10px;
        font-size: 2rem;
    }

    .social {
       position: relative;
       top: 70px;
    }

}