@import url('https://fonts.googleapis.com/css2?family=Lora&family=Ubuntu:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lora', 'Times New Roman', 'sans-serif';
}

.navbar a{
    text-decoration: none;
    list-style-type: none;
    color: #fff;
}

.navbar {
    text-decoration: none;
    font-weight: 900;
}

.navbar ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    margin-top: 2em;
    gap: 5em;
    font-size: 0.7rem;
    width: 100%;
    align-items: center;
}

.navbar li {
    position: relative;
}

.navbar a:hover {
    padding: 0.6em;
    border-radius: 10px;
    border: rgb(253, 233, 143);
    box-shadow: 
    0 0 10px 5px rgb(253, 242, 144),
    0 0 12.5px 10px rgb(252, 180, 46),
    0 0 23px 15px rgb(255, 136, 0);
}

.title {
    font-size: large;
}

.section-1 {
    display: flex;
    align-items: center;
    gap: 1em;
    background-color: #460101 ;
    margin-top: 1.5em;
    margin: 1em;
    padding-top: 1.5em;
    padding-left: 1em;
    padding-bottom: 1.5em;
    border-radius: 30px 30px 0px 0px;
    border-left: #fff solid 6px;
    border-top:#fff solid 6px;
    font-family: 'Ubuntu', 'Times New Roman', 'sans-serif';
}

.sub-section-2 {
    font-size: 0.8rem;
}

.header {
    color: #fff;
    margin-left: 1em;
}

.text {
    color: #fff;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #460101;
    padding-top: 2em;
    padding-bottom: 2em;
    margin-top: -3em;
    margin-left: 1em;
    margin-right: 1em;
    border-left:#fff solid 6px;
    border-radius: 0px 0px 30px 30px;
    gap: 6px;
}

.one {
  position: relative;
  left:-9px;
}

.two {
    position: relative;
    left: -4px;
}

.three {
    position: relative;
    left: -4px;
}

.paragraphs {
    background-color: #491201;
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
    padding-right: 1em;
    padding-left: 1em;
    display: flex;
    gap: 1em;
    border-radius: 30px 30px 30px 30px;
    border-left: #fff solid 5px;
    }

.social {
    position: static;
    left: 0;
    margin-bottom: 15px;
    margin-top: 15em;
    width: 100%;
    color: white;
    text-align: center;
}

.icons {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.fa {
    text-decoration: none;
    color: white;
}

#video1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    opacity: 0.9;
    z-index: -1;
}

#me {
    width: 9em;
}

#about {
    background-color: #f0ab18;
    border: #ffcf4d;
    color: #fff;
    padding: 40px;
    border-radius: 70px 0px 70px 0px;
    font-weight: 700;
    letter-spacing: 2px;
    width: 8em;
    height: 100%;
    border-right:#cf7704 solid 5px;
    border-bottom: #cf7704 solid 5px;
    border-top:rgb(252, 236, 96) 5px solid;
    border-left:rgb(252, 236, 96) 5px solid;
}
#skills {
    background-color: #f36d00;
    border: #ffa013;
    color: #fff;
    padding: 40px;
    border-radius: 70px 0px 70px 0px;
    font-weight: 700;
    letter-spacing: 2px;
    width: 8em;
    height: 100%;
    border-right:#cf2d04 solid 5px;
    border-bottom: #cf2d04 solid 5px;
    border-top:rgb(255, 169, 56) 5px solid;
    border-left:rgb(255, 169, 56) 5px solid;
}
#work{
    background-color: #f84803;
    border: #fd6e0e;
    width: 8em;
    height: 100%;
    color: #fff;
    padding: 40px;
    border-radius: 70px 0px 70px 0px;
    font-weight: 700;
    letter-spacing: 2px;
    border-top:rgb(255, 116, 52) 5px solid;
    border-left:rgb(255, 116, 52)  5px solid;
    border-bottom: #b60202 solid 5px;
    border-right: #b60202 solid 5px;
}

button :hover {
    border-bottom: 2px solid rgb(252, 247, 230);
}

@media (min-width: 798px) {
    .buttons {
        margin-left: 7em;
        margin-right: 7em;
        gap: 2em;
    }

    .navbar ul{
      font-size: 0.9rem;
      gap: 10em;
    }

    .sub-section-2 {
        font-size: large;
    }

    .section-1{
        padding-top: 2.5em;
        margin-left: 7em;
        margin-right: 7em;
        padding-left: 6em;
    }

    .paragraphs {
        margin-left: 4.5em;
        margin-right: 4.5em;
        font-size: 1.5rem;   
    }

    #me {
        width: 11em;
    }

    #about {
        width: 10em;
        height: 8em; 
        padding-left:3em;
        padding-right:3em;
        border-radius: 80px 0px 80px 0px;
        font-size: 1rem;
    }

    #skills {
        width: 10em;
        height: 8em; 
        padding-left:3em;
        padding-right:3em;
        border-radius: 80px 0px 80px 0px;
        font-size: 1rem;
    }
    
    #work {
        width: 10em;
        height: 8em; 
        padding-left:3em;
        padding-right:3em;
        border-radius: 80px 0px 80px 0px;
        font-size: 1rem;
    }
}