.wholetop {
    background-color: #1F2937;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-left: 100px;
    margin-right: 100px;
}
.head {
    font-weight: bold;
    font-size: 24px;
    color: #F9FAF8;
}
a{
    color: #e5e7eb;
    font-size: 18px;  
    padding: 5px;
}
#one {
    font-weight: 900;
    font-size: 48px;
    color: #F9FAF8;
}
.container-1 {
    display: flex;
    color: #e5e7eb;
    font-size: 20px;
    flex-direction: column;
    margin-left: 100px;
}
.container {
    display: flex;
    justify-content: space-between;
}
.image-placeholder {
    background-color: grey;
    display: flex;
    justify-content: flex-end;
    width: 400px;
    height: 250px;
    margin-top: 30px;
    margin-right: 200px;
}
#button {
    color: #F9FAF8;
    background-color: #3882F6;
    border: solid 5px #3882F6;
    font-size: 20px;
    border-radius: 10px;
    width: 100px;
    height: 40px;
    text-align: center;
    margin-left: 100px;
    margin-bottom:30px;
    }
#info {
  display: flex;
  justify-content: center;
  font-size: 42px;
  font-weight: 900;
  margin-bottom: 50px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.wholemiddle {
    vertical-align: middle;
    background-color: white;
}
img {
    width: 100px;
    height: auto;
}
.plants {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.wholemiddle2 {
    background-color: grey;
    font-size: 35px;
    color: aliceblue;
    font-style: italic;
    padding: 30px;
}
.wholeend {
    background-color: white;
    display: flex;
    justify-content: center;
}
.bluebox {
    display: flex;
    justify-content: left;
    flex-direction: column;
    align-items: center;
    background-color: #3882F6;
    margin-left: 60px;
    margin-top: 30px;
    width: 1000px;
    font-size: 20px;
    color: white;
    padding:30px;
}
#butt {
    background-color: #3882F6;
    border: solid #F9FAF8 2px;
    border-radius: 10px;
    height: 40px;
    width: 90px;
    color: white;
    font-size: 15px;
}
.foot {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    color: #e5e7eb;
    margin-top: 30px;
}