@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

body {
    background-color: rgb(236, 255, 211);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1{
    font-size: 3rem;
    font-family:'PT Serif', 'Times New Roman', Times, serif;
}

h3 {
    font-size: 1.4rem;
    font-family:'PT Serif', 'Times New Roman', Times, serif;
}

.buttons{
    margin-top: 3em;
    display: flex;
    gap: 40px;
    font-family:'PT Serif', 'Times New Roman', Times, serif;
}

#submit {
    border-radius: 10px;
    border: black solid 2px;
    padding: 0.5em;
    font-size: 1rem;
    text-decoration: none;
    color:black;
    background-color: white;
    font-weight: 900;
}

#back {
    border-radius: 10px;
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 1rem;
    text-decoration: none;
    color:black;
    background-color: white;
    border: black solid 2px;
    font-weight: 900;
}